<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- HĐ nhà thầu trong Project Master, ngay sau Gói thầu -->
    <menuitem id="menu_pm_rp_contract"
              name="Hợp đồng nhà thầu"
              parent="rp_estimate.menu_project_master"
              action="action_rp_contract"
              sequence="95"/>

    <!-- Báo cáo HĐ + Mốc thanh toán đến hạn -->
    <menuitem id="menu_rp_contract_report"
              name="Báo cáo HĐ"
              parent="rp_estimate.menu_realty_project_root"
              sequence="50"/>
    <menuitem id="menu_rp_contract_report_pivot"
              name="Pivot HĐ nhà thầu"
              parent="menu_rp_contract_report"
              action="action_rp_contract_report"
              sequence="10"/>
    <menuitem id="menu_rp_contract_payment_due"
              name="Mốc thanh toán đến hạn"
              parent="menu_rp_contract_report"
              action="action_rp_contract_payment_due"
              sequence="20"/>
</odoo>
